<div class="container mt-4 pt-4">
  <div class="row">
    <strong><h1><%= @tours.length %></strong> HappyTour are Available</h1>
    <% @tours.each do |tour| %>
      <%= render "tours/tour", tour: tour %>
    <% end %>
  </div>
</div>
