<div class="container mt-4 pt-4">
  <div class="row">
  <h1><strong><%= @tours.length %></strong> HappyTours Available</h1>
    <% @tours.each do |tour| %>
      <%= render "tours/tour", tour: tour %>
    <% end %>
  </div>
</div>
