<div class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="container w-50 text-center">
    <h1>Explore Local Breweries</h1>
    <div class="input-group rounded" >
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>
