<div class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="container w-50 text-center align-items-center">
    <h1>Explore Local Breweries</h1>
    <%= form_tag tours_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control d-flex align-items space-beween",
            placeholder: "Start now"
        %>
        <%= submit_tag "search" %>
  <% end %>
  </div>
</div>
