.cards {
  background-color: #fff5e1;
}

.card-specific {
  background-color: #fff5e1;
  border-color: #2b261e;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 8px 15px rgba(89, 88, 70, 0.4);
  }

}

.card-no-hover {
  background-color: #fff5e1;
  border-color: #2b261e;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

// <!-- new css -->
.card-product {
  overflow: hidden;
  height: 350px;
  border-radius: 12px;
  background-color: #fff5e1;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 15px rgba(89, 88, 70, 0.4);
    background-color: #e7decb;

  }
}

.card-product img {
  border-radius: 4px;
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-color: #2b261e;
}

.card-product h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
