.cards {
  background-color: #fff5e1;
}

.card-specific {
  background-color: #fff5e1;
  border-color: #2b261e;
  border-radius: 8px;
  text-decoration: none;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 15px rgba(89, 88, 70, 0.4);
  }

}

.card-no-hover {
  background-color: #fff5e1;
  border-color: #2b261e;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
